{
  "extends": "stylelint-config-recommended",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends",
        "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
      ]
    }],
    "block-no-empty": null,
    "unit-whitelist": ["em", "rem", "s"],
    theme: {
    fontFamily: {
      body: [
        '-apple-system',
        'BlinkMacSystemFont',
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        'sans-serif'
      ]
    }
  },
  }
}